@charset "UTF-8";

html {
    font-size: 1rem;
}
body {
    color: #fff;
    font-family: 'Noto Sans', sans-serif;
    background-color: #121212;
}
img {
    max-width: 100%;
    vertical-align: bottom;
}
p {
    font-size: 1.15rem;
}
li {
    list-style: none;
}
.wrapper {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}
.section-title {
    display: inline-block;
    font-size: 2.75rem;
    border-bottom: 5px solid rgb(49, 104, 247);
}

/*--------------------------- 
    Header 
----------------------------*/
#header {
    position: relative;
    z-index: 10;
    width: 100%;
    height: 150px;
}
#header .header-contents {
    position: fixed;
    width: 100%;
    height: 120px;
    top: 0px;
    left: 0px;
}

.site-title {
    position: absolute;
    top: 30px;
    left: 30px;
}
.site-title img{
    border-radius: 50%;
}
#navi {
    position: absolute;
    top: 30px;
    right: 30px;
}
#navi ul {
    display: flex;
    gap: 20px;
}

.hover {
    padding-bottom: 5px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.hover:hover {
    background: #ff701e;
}

#navi ul li a img{
    width: 120px;
    height: 120px;
}


/*--------------------------- 
    Main 
----------------------------*/
.two-columns {
    display: flex;
    justify-content: space-between;
}
#mainvisual {
    margin-top: 50px;
}
#mainvisual p {
    font-size: 85px;
}

/*--------------------------- 
    About 
----------------------------*/
#about {
    width: 450px;
    height: 500px;
    text-align: left;
    margin-top: 50px;
}
#about .message-content {
    margin-top: 25px;
    padding-left: 20px;
    border-left: 3px solid gray;
    font-size: 1.15rem;
}
#about .background {
    margin-top: 20px;
}
/*--------------------------- 
    Work 
----------------------------*/
#work {
    text-align: center;
    margin-bottom: 50px;
}
#work .work-content {
    font-size: 3rem;
}
/*--------------------------- 
    Skill 
----------------------------*/
#skill {
    text-align: center;
    margin-bottom: 50px;
}
.skill-contents {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.skill-title  {
    font-size: 3rem;
    font-weight: bold;
}
.skill-one:nth-child(-n+2) .skill-description {
    margin-top: 60px;
}
.skill-one:nth-child(n+3) .skill-description {
    margin-top: 50px;
}
.skill-one:nth-child(2n-1) .skill-description {
    margin-right: 50px;
}
/*------------------------ 
    Contact
-------------------------*/
#contact { 
    text-align: center;
    margin-bottom: 50px;
    width: 100%;
}
.contact-item, .contact-body {
    font-size: 2rem;
    color: #fff;
    padding: 10px;
    border: 1px solid rgb(49, 104, 247);
}
.contact-item {
    text-align: center;
    width: 16%;
    font-weight: bold;
    vertical-align: top;
}
.contact-body {
    text-align: left;
    width: 50%;
}
.contact-submit {
    width: 250px; 
    background-color: #333; 
    color: #fff; 
    font-weight: bold; 
    display: block; 
    font-size: 2rem;
    padding: 15px; 
    margin:0 auto;
    border-radius: 100vh; 
    border: none;
    cursor: pointer;
}
/*------------------------ 
    FOOTER
-------------------------*/